*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(bg.jpg);
  background-position: center;
  background-size: cover;
}
.sidebar{
  position: fixed;
  width: 25%;
  height: 100vh;
  background-color: #202020;
}
.logo{
  height: 80px;
  width: auto;
  margin: 40px 70px;
}
.nav ul{
  list-style: none;
}
.nav ul li a{
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 70px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 6px;
  color: #fff;
  display: block;
  padding: 0 40px;
}
.active{
  background-color: #bfa24b;
}

.header{
  width: 75%;
  float: right;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  line-height: 60px;
}
.container h1{
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 5px;
  font-weight: 700;
}
.container p{
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 8px;
  font-weight: 500;
}

.container button{
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 6px;
  font-weight: 900;
  background-color: #bfa24b;
  color: #fff;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 6px;
  transition: 0.5s;
  cursor: pointer;
}
.container button:hover{
  background-color: #202020;
  color: #fff;
  font-weight: 500;
}




























































































